$body-background-color: $white !default;
$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$feedback-color: darken($sidebar-color, 3%) !default;

$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;

$nav-child-link-color: $grey-dk-100 !default;
$link-color: $purple-000 !default;
$btn-primary-color: $purple-100 !default;
$base-button-color: #f7f7f7 !default;


$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-lt-000;

$table-background-color: $white !default;
